* {
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  background-color: #ab9090;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg p {
  color: #000;
}
.wish {
  width: 442px;
  height: 539px;
  margin: 20px auto;
  border-radius: 30px;
  /*background-color: #ffffff;*/
  text-align: center;
}

.content {
  /*position: relative;*/
  z-index: 4;
}

/*after在最下面，before在最上面*/
.main {
  border-radius: 30px;
  background-color: #fff;
  height: 539px;
  position: relative;
  /*outline: 4px solid #000;*/
  overflow: hidden;
  z-index: 1;
}


.main::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: #f40;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform-origin: left top;
  animation: rotation 2s linear infinite;
}

.main::after {
  content: "";
  position: absolute;
  --borederWidth: 3px;
  width: calc(100% - 2 * var(--borederWidth));
  height: calc(100% - 2 * var(--borederWidth));
  left: var(--borederWidth);
  top: var(--borederWidth);
  background: #fff;
  z-index: 3;
  border-radius: inherit;

}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
.title {
  text-align: center;
  font-size: 35px;
  /*height: 100px;*/
}

.title p:nth-child(1){
  padding-top: 30px;
}

.age {
  color: #efc43c;
}

.img {
  font-size: 20px;
  margin: 0 auto 20px;
  color: rgba(169, 169, 169, 0.6);
}

.advertisement {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #a9a9a9;
}

#run {
  z-index: 998 ;
  position: relative;
  --c: #0f0;
  cursor: pointer;
  width: 260px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid var(--c);
  color: #999;
  font-size: 1.5em;
  /*line-height: 60px;*/
  background-color: #ffffff;
  transition: .5s;
}

#run:hover {
  z-index: 998;
  color: var(--c);
  text-shadow: 0 0 15px var(--c),
              0 0 40px var(--c);
}

#run::before {
  z-index: 999;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 200px;
  background: radial-gradient(var(--c), transparent, transparent);
}

.adv-close {
  cursor: pointer;
  width: 42px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 30px auto;
}

.lg {
  position: relative;
}

.lg .test {
  transform: translate(30px, 30px);
}

.big {
  font-size: 20px;
}

.refresh {
  cursor: pointer;
}